<!DOCTYPE html>
<html>
  <head>
    <title>SchoolManagement1</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  

  <nav class="navbar navbar-inverse">
  <div class="container">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

        
    
          <% if admin_signed_in? %>
            <%= link_to 'Profile', edit_admin_registration_path %><br />
            <%= link_to 'Sign Up', new_admin_registration_path %><br />
            <%= link_to 'Log out', destroy_admin_session_path, method: :delete %><br />
            <%= link_to 'Assign Ranks', '/admins/assign_ranks', method: :post %>
          <% elsif teacher_signed_in? %>
            <%= link_to 'Log out', destroy_teacher_session_path, method: :delete %>
          <% else %>
            <%= link_to 'Log In As Admin', new_admin_session_path %> <br />
            <%= link_to 'Log In As Teacher', new_teacher_session_path %>
          <% end %>
 

  </div>
  </nav>

  <body>
    <%= yield %>
  </body>
</html>
